.hero {
  padding: 80px 0 96px;
  display: flex;
  align-items: center;
 
}

.hero__content {
  margin-right: 24px;
}

.hero__description {
  margin-top: 32px;
  max-width: 485px;
}

.hero__button {
  margin-top: 32px;
}

.hero__image{
  transition: 3s ease-in;
}

.hero__image:hover{
  transform: rotateY(360deg) scale(1.5);
}