.offer {
  padding: 80px 0 96px;
  display: flex;
  align-items: center;
}

.offer__content {
  margin-right: 24px;
  width: 690px;
  height: 366px;
}

.offer__description {
  margin-top: 24px;
  width: 584px;
  }

.offer__button {
  margin-top: 32px;
}

.offer__image {
  margin-right: 126px;
}
